<img class ="float_left" [src]=bildLogo width="10%" height="10%" style="float:right">
<br/>
<center>Hauptmenue</center>



<div class="content" role="main" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class="button-div">
    <a routerLink="/finance-feed-anlegen/finance-feed-anlegen.component"><button mat-button color="primary">Finance-Feed anlegen</button></a>
  <br/>
    <button mat-button color="primary">Finance-Feeds anzeigen</button>
  </div>

</div>

<nav>
  <a class="button" routerLink="/finance-feed-anlegen">Finance Feed anlegen</a>
</nav>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
