
<div class="content" role="main" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" style="margin: auto;width: 50%; margin-top: 8em;">
  <h1>Hauptmen&uuml;</h1>
  <div class="button-div">
    <button mat-stroked-button color="primary" routerLink="/finance-feed-anlegen" style="margin-top: auto;">Finance-Feed anlegen</button>
  <br/>
    <button mat-stroked-button color="primary" routerLink="/finance-feed-anzeigen" style="margin-top: 1em;">Finance-Feed(s) anzeigen</button>
    <br/>
  </div>

</div>
