<p>finance-feed-anlegen works!</p>

<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Suchintervall</mat-label>
    <mat-select>
      <mat-option value="2min">2 min</mat-option>
      <mat-option value="1h">1 h</mat-option>
      <mat-option value="2h">2 h</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>Suchdauer</mat-label>
    <mat-select>
      <mat-option value="5min">5 min</mat-option>
      <mat-option value="10h">10 h</mat-option>
      <mat-option value="24h">24 h</mat-option>
    </mat-select>
  </mat-form-field>


</div>

<div class="button-div">
  <button mat-button color="primary" routerLink="/hauptmenue">Zur&uuml;ck</button>
</div>
