<div class="example-container" style="margin: auto;width: 50%; margin-top: 8em;">
  <h1>Finance-Feed anlegen</h1>
  <mat-form-field appearance="fill" style="margin-top: auto;">
    <mat-label>Suchwort</mat-label>
    <input matInput type="text" [(ngModel)]="suchwort">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Suchintervall</mat-label>
    <mat-select [(value)]="selectedIntervallValue">
      <mat-option value="2min">2 min</mat-option>
      <mat-option value="1h">1 h</mat-option>
      <mat-option value="2h">2 h</mat-option>
    </mat-select>
  </mat-form-field>
  <br>

  <mat-form-field appearance="fill">
    <mat-label>W&auml;hle ein Enddatum</mat-label>
    <input matInput [matDatepicker]="picker" [min]="now" (dateInput)="setSearchDauer('input', $event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div class="button-div" style="margin: auto; width: 50%;">
  <button mat-stroked-button color="primary" routerLink="/hauptmenue">Zur&uuml;ck</button>
    <button mat-stroked-button color="primary" (click)="submit()">Anlegen</button>
</div>
